/*TO- DO List By Dalvin Wray*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(images/clock.jpg)  no-repeat;
    background-size:cover;
    
}

#title{ 
    margin-top:5rem;
    text-align: center;
    font-size: 4rem;
}

/*
Div Containing Input field, add to list button, and filter dropdown
*/
#input-main{
    display: flex;
    justify-content:center ;
    margin: 2rem;
}


/*input field*/
#input-area{
    padding:1rem 8rem ;
    border-radius: 1rem;
    margin-left: 3rem;
    font-size: 1.5rem;
}

/* add to list button*/
#add{
    border-radius: 0.5rem;
    border: none;
    margin-left: 1rem;
    padding: 1rem;
    background-color: rgb(0,0,0);
    color:rgba(255,255,255);
}

/* div that containt  task elements*/
#todo-area #todo-list .task {
    display: flex;
    justify-content: center;
    align-items: baseline;
    list-style: none;
    font-size: 2rem;
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
    margin: 2rem 20rem;
    border-radius: 2rem;
    
    
}


/* all button elements in the task div*/
.task button{
    margin:1rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    
}

/* complete button in the task div*/
.task .completeBtn{
    margin-left:10rem ;
    background-color: rgb(34, 65, 0);
    color: rgb(255, 255, 255);
    
}

/* delete button in the task div*/
.task .deleteBtn{
    margin-left:10rem ;
    background-color: rgb(111, 7, 7);
    color: rgb(255, 255, 255);
    
}

/* 
list item in classCompleted div which is the same div 
that contains task elements.
This class and it's styling is only added to completed tasks
*/
.classCompleted li{
    text-decoration: line-through;
    color: rgb(0, 255, 0);
}

/*
Filter drop down menu
*/
#dropDown{
    margin-left: 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    background: rgb(0,0,0);
    color:rgb(255, 255, 255);
    text-align: center;
}

/*TO- DO List By Dalvin Wray*/